/*
.home {
	
	.main {
		margin-left: 0;
		width: 100%;
		padding: 60px 15px;
	}
	
}
*/

.navbar {
	
	//position: fixed;
	min-height: 50px;
	margin-bottom: 0;
	width: 100%;
	border: 1px solid transparent;

	li>a{
		border-radius: 5px;
		padding: 10px 15px;
		text-transform: uppercase;
		font-family: sans-serif;
		font-size: 13px;
		font-weight: lighter;
		letter-spacing: 0.12em;
	}
	.navbar-collapse{
		float: right;
		padding: 20px 0;
		
	}
}

.imageHeader {
	min-height: 400px;
	background-size: cover;
	background-position: 50%;
	
	.content {
		margin-top: 150px;
		color: #fff;
		text-transform: uppercase;
	}
}

.navbar-default{
	height: 78px;
	margin-bottom: 0; 
	a#logo{
		position: absolute;
	}
}

#features, .main {
		
	 img{
		//border-radius: 10px;
		//border: 5px solid $brand-primary;
		&.no-border{
			border: none;
		}
	}
}

#features {	
	background: #ededed;
	padding: 60px 0;
	border-bottom: 1px solid $brand-primary;
	border-top: 1px solid $brand-primary;
}

.btn {
	z-index: 1002;
	position: relative;
}


/*
.flexslider .reclameLaag{
	//background: rgba(0, 0, 0, .3);
		position: absolute;
		top: 0;			 
		width:100%;
		height: 100%;

		
		.container {
			height: 100%;
		}
		.content-holder {
			position:relative;
			height: 100%;
			.content{
				position: absolute;
				bottom: 40px;
				right: 40px;
				z-index: 100;
			}
		}		

		.featuredHeaderImg {
			position: absolute;
			width: 218px;
			height: 218px;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			overflow: hidden;
			border: 4px solid #FFF;
			z-index: 0;
			right: 300px;
			bottom: -50px;
		}
		.featuredHeaderTxt {
			position: absolute;
			bottom: 0;
			right: 5%;
			display: block;
			background: #d72441;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			width: 328px;
			height: 328px;
			z-index: 2;
			-webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
			box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
			text-align: center;
			padding: 80px 20px 0;
		}
		.featuredHeaderTitle {
			margin: 0;
			font-size: 50px;
			line-height: 50px;
			color: #FFF;
			font-weight: 300;
		}
		.featuredHeaderTitle strong {
			font-weight: 700;
		}
		.featuredHeaderSubtitle {
			// font-family: 'Waiting for the Sunrise', cursive;
			margin: 0;
			color: #FFF;
			font-size: 20px;
			line-height: 26px;
			margin: 25px 0 0;
		}

}
*/